{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules":{
    "linebreak-style": ["error", "windows"],
    "indent": [2, 4, {"SwitchCase": 1}],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
