.movie-preview {
  max-width: 32.5em;
  width: 32.5em;
  margin-bottom: 4.5em;
  cursor: pointer;

  .movie-preview-poster {
    width: 100%;
  }

  .movie-preview-header,
  .movie-preview-genre {
    opacity: 0.7;
  }

  .movie-preview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0 0.3em 0;
    font-size: 1.8em;

    .movie-preview-year {
      border: 0.1em white solid;
      border-radius: 0.4em;
      padding: 0.1em 0.5em;
      box-sizing: border-box;
    }
  }

  .movie-preview-genre {
    font-size: 1.4em;
  }
}
