.header-container {
  background: #232323;
  display: flex;
  flex-direction: column;
  padding: 3em 2em 4em 6em;

  .buttons-container {
    display: flex;
    justify-content: space-between;

    .home-page-btn {
      color: #f65261;
      font-size: 14px;
    }
  }
}
