body {
  background: #555;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5.5em;
}

p {
  margin: 0;
}

.app {
  background: #232323;
  box-shadow: 0 0.2rem 3.4rem 0 rgba(0, 0, 0, 0.27);
  color: white;
  width: 120em;
  margin: 0 auto;
}
