.movie-card {
  display: flex;
  padding: 4em 4em 0 0;

  .movie-card-poster {
    width: 28em;
    height: 100%;
    margin-right: 6em;
  }

  .movie-card-info {
    opacity: 0.7;

    .movie-card-info-header {
      display: flex;
      align-items: center;

      .movie-card-info-title {
        font-size: 5em;
        font-weight: normal;
        margin-bottom: 1rem;
      }

      .movie-card-info-rating {
        border: 0.1em white solid;
        border-radius: 50%;
        color: #a1e66f;
        font-size: 3em;
        opacity: 0.8;
        font-weight: normal;
        margin-left: 2.2em;
        height: 4rem;
        width: 4rem;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .movie-card-info-tagline {
      font-size: 1.4em;
      margin-bottom: 2rem;
    }

    .movie-card-highlight {
      color: #f65261;
      font-size: 2.4em;
    }

    .movie-card-highlight:not(:first-child) {
      margin-left: 2rem;
    }

    .movie-card-description {
      font-size: 1.7em;
      margin-right: 4em;
      padding-top: 1.5rem;
    }
  }
}
