@import "../../_colors";

.toggler {
  display: flex;
  font-size: 1.5em;
  line-height: 2.5em;
  text-transform: uppercase;
  margin: 1em 0;
  opacity: 0.8;

  input {
    display: none;
  }

  p {
    margin-right: 1em;
  }

  label {
    border-radius: 0.4em 0 0 0.4em;
    background-color: rgba(66, 66, 66, 0.68);
    padding: 0 1em;
    cursor: pointer;
  }

  label:last-child {
    border-radius: 0 0.4em 0.4em 0;
  }

  input:checked + label {
    background-color: $pink;
  }
}
